* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  background: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
}
p{
  margin: 0 !important;
}
.climate{
  width: 100%;
  height: 100%;
  position: relative;
}
#map {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.title{
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  z-index: 3;
}
.toolbar{
  top: 100px;
  right: 10px;
  visibility: visible;
  width: auto;
  /* height: 40px; */
  background-color: white;
  color: black;
  position: absolute;
}
.tableContainer{
  position: absolute;
  top: 40%;
  left: 77%;
  z-index: 3;
}
.table{
  margin-bottom: 0px !important;
}
.no-content{
  background: #fff;
  height: 70px;
  position: relative;
}
.no-content span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.message{
  border: 1px solid #cdd0d6;
  border-radius: 5px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: opacity 3s,top .4s;
  z-index: 999;
  background: #f0f9eb;
  min-width: 100px;
  color: #67c23a;
  padding: 5px;
}
.message i {
  width: 1em;
  height: 1em;
}
.draw{
  position: absolute;
  top: 20%;
  left: 77%;
  z-index: 3;
  width: 208px;
  height: 100px;
  background: #fff;
  padding: 0 16px;
  box-sizing: content-box;
}
.draw .title{
  position: relative;
  text-align: left;
  width: 208px;
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #E9E9E9;
}
.draw .tool{
  display: flex;
  justify-content: space-around;
  width: 208px;
  padding: 15px 0;
}
.tool .tool-btn{
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
}
.tool .tool-btn:hover{
  color: #0081E2;
  border-color: #0081E2;
  background-color: transparent;
  transition: color .3s;
}
.clear-disable{
  color: #CCCCCC !important;
  border-color: #CCCCCC !important;
  cursor: not-allowed !important;
}
.clear-enable{
  color: #F5212D !important;
  border-color: #F5212D !important;
  cursor: pointer;
}
.img-icon{
  width: 100%;
  height: 100%;
}